In [1]:
import numpy as np
import pandas as pd

In [6]:
np.random.seed(123)

In [8]:
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [9]:
n_class_0,n_class_1

(900, 100)

In [10]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [11]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [12]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

# upsampling

In [13]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [17]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [16]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [18]:
##Upsampling perform
from sklearn.utils import resample

In [24]:
df_minoority_upsample=resample(df_minority,
                              replace=True,## Sample With replacement
                              n_samples=len(df_majority),# to match the majority class
                             random_state=42)

In [25]:
df_minoority_upsample.shape

(900, 3)

In [26]:
df_minoority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [32]:
pd.concat([df_minority,df_minoority_upsample]).value_counts()

feature_1  feature_2  target
1.005190   1.110089   1         20
1.915470   1.652041   1         19
3.701608   2.160889   1         19
2.902006   0.390305   1         17
3.013493   2.047240   1         17
                                ..
2.549697   3.095922   1          5
2.013560   2.847260   1          5
2.995595   2.475934   1          5
0.988356   1.835125   1          5
1.245992   2.946908   1          4
Length: 100, dtype: int64

In [35]:
df_upsampled=pd.concat([df_majority,df_minoority_upsample])

In [36]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

# downsampling

In [37]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [38]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [39]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [40]:
df_majority_downsample=resample(df_majority,
                             replace=False, ## Sample Without replacement
                              n_samples=len(df_minority), # to match the minority class)
                              random_state=42
                             )

In [41]:
df_majority_downsample.shape

(100, 3)

In [42]:
df_downsample=pd.concat([df_minority,df_majority_downsample])

In [43]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64