# Lable and ordinal encoding

In [ ]:
# lable
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
df=pd.DataFrame({'color':['red','blue','white','red','white','blue']})

In [4]:
df

   color
0    red
1   blue
2  white
3    red
4  white
5   blue

In [5]:
encoder=LabelEncoder()

In [6]:
encoder.fit_transform(df['color']) ## to convert leble vise

array([1, 0, 2, 1, 2, 0])

# ordinal encoding

In [7]:
df=pd.DataFrame({'size':['small','mediam','large','mediam','small','large']})

In [8]:
df

     size
0   small
1  mediam
2   large
3  mediam
4   small
5   large

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [16]:
encoder=OrdinalEncoder(categories=[['small','mediam','large']])

In [17]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])